:root {
    --primary:  #F2E9EB;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
    --lighten-yellow: #F2B138;
    box-sizing: border-box;
}
body {
    background-color: var(--primary);
    position: relative;
    font-family: "Sofia", sans-serif;
}
.main {
    width: 100%;
    min-height: 300px;
    margin:0px;
    padding: 0px;
    background-color: hsl(343, 54%, 71%, 0.3);
    border-radius: 1em;
    align-content: center;
    position: relative;
    top: 5em;
    float: left;
}
.pleyr-chose {
    display: flex;
    position: relative;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex-shrink: 2;
}

.logo img {
    min-height: 1em;
    min-width: 2em;
}
.content {
    max-width: 30em;
    min-width: 25em;
    align-self: center;
    padding: 2em;
    line-height: 2.1em;
    color: #3c4fe0;
    position: fixed;
    top: 50px;
    left: 35em;
}
.midel-icon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: absolute;
    min-width: 12em;
    top: -60px;
    right: 2em;
    min-height: 27em;
    border:1px solid #F2B138;
    background-color:  #F2D4D6;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: .15s;
}
.button button{
    border-radius: 4em;
    min-width: 6em;
    border: unset;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ce3333;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-2 {
    min-width: 10em;
    color: #ffff;
    border-radius: 4em;
    border: unset;
}

.text {
    color: #3c4fe0;
    margin: 0px;
    padding: 0px;
    justify-self: center;
    max-width: 10em;
    padding: 1em;
    text-align: center;
}
.game {
    width: 20em;
    height: 19.5em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 10px;
    position: relative;
    top: -40px;
    left: 100px;

}
.square {
  width: 120px;
  height: 120px;
  border: 1px solid blue;
  text-align: center;
  line-height: 133px;
  font-size: 4em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}
.square img {
    width: 70px;
}
.view {
    display: none;
}
#sq {
    width: 86px;
  height: 45px;
  border: 1px solid blue;
  text-align: center;
  line-height: 133px;
  font-size: 4em;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 3.2em;
  left: 3.74em;
  margin: 0px;
  padding: 0px;

}
#sq h6 {
    color: red;
    list-style: none;
    text-align: start;
    max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  white-space: wrap;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  position: relative;
  top: -45px;
  left: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
